form{
    width: 60%;
}

button.btn.btn-submit.btn-light {
    width: 150px;
    border: 2px solid #6aaae4;
    font-size: 20px;
    background: #6aaae4;

}

.contact-container {
    margin-top: 50px;
}

svg {
    width: 100%;
}

.img-back h4 {
    font-size: 2em;
    font-family: 'Kaushan Script';
}

label {
    font-size: 20px;
    color: black;
}

.contact-wrapper {
    margin-bottom: 5%;
}

input, .img-back h4, textarea {
    margin-bottom: 20px;
    background-color: transparent !important;
    color: black !important;
}

p.email-message {
    color: red;
}

i.fa.fa-paper-plane {
    padding-left: 10px;
}