.social-media-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;
}

.introduction-wrapper {
    background-color: white;
    color: #011627;
}

.introduction-text {
    margin-top: 7%;
}

button.navbar-toggler.collapsed {
    background: #2471b4;
}

a:hover{
    text-decoration: none;
}

.field-social-media-wrap {
    height: 55px;
    width: 55px;
    display: flex;
    background: #011627;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.social-icon a:hover span {
    color: white;
    transform: rotateY(360deg);
}

.intro {
    margin-top: 220px;
}

p.intro-text, .screen-sub-heading {
    font-size: 1.5em;
    font-family: Lora;
    font-weight: normal;
    font-style: oblique;
    line-height: 1.5;
}

span.name {
    color: #09ee09;
    font-weight: bolder;
}

h3.salutation {
    font-size: 2em;
    font-weight: 700;
    font-family: 'Kaushan Script';
    line-height: 1.3;
}

img.home-banner {
    width: 100%;
    margin-top: 100px;
}


.social-icon {
    margin-right: 20px;
}

.social-icon span {
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: .5s;
    z-index: 3;
}

.field-social-media-wrap:hover.github{
    background:#24292F;
}

.field-social-media-wrap:hover.linkedin {
    background:#0073b0;
}

.field-social-media-wrap:hover.envelope {
    background: #E94235;
}

button.btn.highlighted-btn {
    margin-top: 30px;
    background: orangered;
    color: white;
    border-radius: 20px;
    font-size: 1.3em;
    font-family: 'Lora';
    font-style: oblique;
}

@media only screen and (max-width: 768px) {
    .intro {
        margin-top: 160px;
    }
}