div#Resume {
    margin-bottom: 30px;
}

.education-item:before, .internship-item:before, .workExperience:before, .awards-item:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: -11px;
    border-radius: 50px;
    background: #E3467E;
    border: 2px solid #E3467E;
}

.resume-wrapper h4 {
    font-size: 18px;
    text-transform: uppercase;
    color: #E3467E;
}

.resume-wrapper p {
    font-family: 'Lora';
    font-size: 16px;
    font-weight: 400;
    font-style: oblique;
}

.education-item p.text {
    font-size: 1.2em;
    font-family: Lora;
    font-weight: normal;
    font-style: oblique;
}

.resume-wrapper h2{
    font-weight: 900;
    font-family: 'Kaushan Script';
    margin: 25px 0px;
    color: black;
}

.resume-container, .education-item, .internship-item, .workExperience, .awards-item {
    position: relative;
    padding: 0px 0 20px 25px;
    border-left: 2px solid rgb(127 117 117 / 15%)
}

.calendar-container {
    background: #f1efef;
    padding: 5px 10px;
}

.resume-wrapper {
    color: black;
}

.fa-calendar:before{
    padding-right: 7px;
}