.aboutme-img-wrapper {
    width: 100%;
}

.aboutme-wrapper {
    background: #011627;
    margin-top: 200px;
}

.aboutme-wrapper h2 {
    color: white;
    font-family: 'Kaushan Script';
    padding-bottom: 10px;
}

ul{
    list-style-type: none;
}

.aboutme-wrapper ul i {
    font-size: 16px;
    margin-right: 5px;
    color:#183ad2;
    line-height: 0;
}

.aboutme-wrapper ul li span {
    font-family: 'Lora';
    font-weight: 400;
    font-style: oblique;
}

.aboutme-wrapper p {
    font-family: 'Lora';
    font-size: 1.15em;
    line-height: 1.5;
    font-style: oblique;
}

.arrow-bulletin::before {
    content: "\f105";
    font-size: 24px;
}

.arrow-bulletin::before {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
vertical-align: text-bottom;
-webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 480px) {
    .aboutme-wrapper {
        margin-top: 50px;
    }
}