.track-wrapper {
  background: #011627;
}

.tracker {
  display: flex;
}

.tracker-heading {
  padding: 3% 0%;
  color: white;
  font-family: 'Kaushan Script';
}

#circle {
  background:gold;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 3px 10px 0px rgb(0 0 0 / 20%);
  margin: 0px 30px 35px;
}

#circle img {
  width: 75px;
  height: 75px;
}

#circle:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}