img.skillsImg {
    width: 75px;
    height: 75px;
}

.skill-wrapper {
    background: #011627;
    padding-bottom: 100px;
}

.skill-wrapper h2 {
    color: white;
    padding: 3% 0%;
    font-family: 'Kaushan Script';
}

.skills-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 14px 28px 0 rgb(0 0 0 / 30%);
    background-color: white;
}

.skills {
    display: flex;
    margin: 25px 25px;
}

@media only screen and (max-width: 380px) {
    img.skillsImg {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 320px){
    img.skillsImg {
        width: 45px;
        height: 45px;
    }
}